{% extends "./sub_base.html" %}
{% block title %}Log-in{% endblock %}
{% block sub_content %}


<form class="account-form" style="margin-top: 80px;" action="{% url 'account:login' %}" method="post"
      xmlns:account="http://www.w3.org/1999/xhtml">
  {% csrf_token %}
  <h3 class="mb-4">Đăng nhập</h3>
  {% if form.errors %}
  <div class="alert alert-primary" role="alert">
    Lỗi: Username hoặc Mật khẩu không đúng!
  </div>
  {% endif %}
  <label class="form-label">{{ form.username.label}}</label>
  {{ form.username}}
  <label class="form-label">{{ form.password.label}}</label>
  {{ form.password}}
  <div class="d-grid gap-2">
    <input type="hidden" name="next" value="{{ next }}">
    <button class="btn btn-primary py-2 mb-4 mt-5 fw-bold" type="submit" value="Log-in">
      Đăng nhập
    </button>
  </div>
  <div class="flex-column justify-content-center mx-auto pb-3">
    <div class="text-center"><a href="{% url 'account:register' %}">Đăng ký tài khoản</a></div>
    <div class="text-center"><a href="{% url 'account:pwdreset' %}">Quên mật khẩu?</a></div>
  </div>
</form>

{% endblock %}