{% extends "base.html" %}

{% load static %}
{% load common_tags %}

{% block stylesheet %}{% static 'css/index.css' %}{% endblock %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}


<div class="container" style="margin-top: 80px;">
    <div class="col-12">
        <h1 class="h2" style="color: black !important;">Danh mục: {{ category.name|title }}</h1>
    </div>
    <div class="col-12 d-flex justify-content-between">
        <div class="h4"><b>Sản phẩm phổ biến</b></div>
    </div>
    <hr/>
</div>
<div class="container">
    <div class="row">
        <div class="album py-3">
            {% if not products %}
                <div class="col-12">Hiện tại không có sản phẩm nào đang bán
                    <a href="{% url 'store:store_home' %}">Quay lại trang chủ</a>
                </div>
            {% else %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                    {% for product in products %}
                    <div class="col">
                        <div class="card border-0 px-2 rounded">
                            {% for image in product.product_image.all %}
                            {% if image.is_feature%}
                            <img class="img-fluid p-2" alt="Responsive image" src="{{ image.image.url }}"
                                 alt="{{ image.image.alt_text }}" style="height: 150px !important; object-fit: contain">
                            {% endif %}
                            {% endfor %}
                            <div class="card-body px-0">
                                <p class="card-text">
                                    <a class="text-dark text-decoration-none name-product"
                                       href="{{ product.get_absolute_url }}">
                                        {{ product.title }}...
                                    </a>
                                </p>
                                <div class="fw-bold">{{product.regular_price|currency}}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}