{% extends "base.html" %}

{% load static %}
{% load common_tags %}

{% block stylesheet %}{% static 'css/index.css' %}{% endblock %}

{% block title %}Trang chủ{% endblock %}
{% block content %}

<!-- header -->
<div class="hero-banner">
    <div class="content">
        <div class="text-content">
            <h1>SALES</h1>
            <p> Convallis interdum purus adipiscing dis parturient
                posuere ac a quam a eleifend montes parturient posuere
                curae tempor
            </p>
            <div class="more">
                <div class="banner-more">Read More</div>
                <div class="banner-more shop">Shop Now</div>
            </div>
        </div>
        <img class="banner-img" src="/media/images/banner-img.png" alt="" />
    </div>
</div>

<div class="container px-0">
    <!-- category -->
    <div class="shop-by-category">
        <div class="categories">
            <a class="category" href="">
                <img src="media/images/cat-1.jpg" alt="" />
            </a>
            <div class="category">
                <img src="media/images/cat-2.jpg" alt="" />
            </div>
            <div class="category">
                <img src="media/images/cat-3.jpg" alt="" />
            </div>
            <div class="category">
                <img src="media/images/cat-4.jpg" alt="" />
            </div>

        </div>
    </div>
    <div class="container px-0">
        <div class="row">
            <div class="album py-3">
                <div class="pb-5">
                    <h1 class="h4 text-uppercase" style="color: #000 !important;">Sản phẩm phổ biến:</h1>
                </div>
                {% if not products %}
                <div class="col-12">Hiện tại không có sản phẩm nào đang bán.</div>
                {% else %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3 bg-white">
                    {% for product in products %}
                    <div class="col p-item p-3 mt-0">
                        <div class="card border-0">
                            {% for image in product.product_image.all %}
                                {% if image.is_feature%}
                                <img class="img-fluid" src="{{ image.image.url }}"
                                     style="height: 150px !important; object-fit: contain"
                                     alt="{{ image.image.alt_text }}">
                                {% endif %}
                            {% endfor %}
                            <div class="card-body px-2 pb-0">
                                <p class="card-text">
                                    <a class="text-dark text-decoration-none name-product"
                                       href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                </p>
                                <div class="fw-bold">{{product.regular_price|currency}}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}