{% extends "base.html" %}
{% load static %}
{% block title %}Store - Low Prices in Books & more{% endblock %}
{% block stylesheet %}{% static '../static/css/index.css' %}{% endblock %}
{% block content %}



<div class="hero-banner mt-5">
    <div class="content">
        <div class="text-content">
            <h1>SALES</h1>
            <p> Convallis interdum purus adipiscing dis parturient
                posuere ac a quam a eleifend montes parturient posuere
                curae tempor
            </p>
            <div class="more">
                <div class="banner-more">Read More</div>
                <div class="banner-more shop">Shop Now</div>
            </div>
        </div>
        <img class="banner-img" src="/media/images/banner-img.png" alt="" />
    </div>
</div>

<div class="container">
    <!-- category -->
    <div class="shop-by-category">
        <div class="categories">
            <a class="category" href="">
                <img src="media/images/cat-1.jpg" alt="" />
            </a>
            <div class="category">
                <img src="media/images/cat-2.jpg" alt="" />
            </div>
            <div class="category">
                <img src="media/images/cat-3.jpg" alt="" />
            </div>
            <div class="category">
                <img src="media/images/cat-4.jpg" alt="" />
            </div>

        </div>
    </div>
    <div class="album py-5">
        <div class="pb-3">
            <h1 class="h4">Sản phẩm phổ biến:</h1>
        </div>
        {% if not products %}
        <div class="col-12">Hiện tại không có sản phẩm nào đang bán.</div>
        {% else %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5  bg-white">
            {% for product in products %}
            <div class="col product-item">
                <div class="card border-0  px-2 ">
                    {% for image in product.product_image.all %}
                    {% if image.is_feature%}
                    <img class="img-fluid" alt="Responsive image" src="{{ image.image.url }}"
                        alt="{{ image.image.alt_text }}">
                    {% endif %}
                    {% endfor %}
                    <div class="card-body ">
                        <p class="card-text">
                            <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{
                                product.title|slice:":50" }}...</a>
                        </p>
                        <div class="fw-bold">{{product.regular_price}}đ</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>


</div>
{% endblock %}