{% extends 'base.html' %}
{% load static %}




{% block content %}
<!-- <br><br><br> -->
<div class="hero-banner">
    <div class="content">
        <div class="text-content">
            <h1>SALES</h1>
            <p> Convallis interdum purus adipiscing dis parturient
                posuere ac a quam a eleifend montes parturient posuere
                curae tempor
            </p>
            <div class="more">
                <div class="banner-more">Read More</div>
                <div class="banner-more shop">Shop Now</div>
            </div>
        </div>
        <img class="banner-img" src="{% static 'images/banner-img.png' %}" alt="" />
    </div>
</div>
<!-- category -->
<div class="shop-by-category">
    <div class="categories">
        <div class="category">
            <img src="{% static 'images/category/cat-1.jpg' %}" alt="" />
        </div>
        <div class="category">
            <img src="{% static 'images/category/cat-2.jpg' %}" alt="" />
        </div>
        <div class="category">
            <img src="{% static 'images/category/cat-3.jpg' %}" alt="" />
        </div>
        <div class="category">
            <img src="{% static 'images/category/cat-4.jpg' %}" alt="" />
        </div>
    </div>
</div>
<!-- product -->
<div class="products-container">
    <div class="sec-heading">POPULAR PRODUCTS</div>
    <div class="products">
        <div class="product-card">
            <div class="thumbnail">
                <img src="{% static 'images/earbuds-prod-1.webp' %}" alt="" />
            </div>
            <div class="prod-details">
                 <span class="name">boAt Rockerz 450 DC edition | Wireless Headphone with 40mm Dynamic Driver</span> 
                 <span class="price">&#8377;1200</span>  
            </div>
        </div>
        <div class="product-card">
            <div class="thumbnail">
                <img src="{% static 'images/earbuds-prod-1.webp' %}" alt="" />
            </div>
            <div class="prod-details">
                 <span class="name">boAt Rockerz 450 DC edition | Wireless Headphone with 40mm Dynamic Driver</span> 
                 <span class="price">&#8377;1200</span>  
            </div>
        </div>
        <div class="product-card">
            <div class="thumbnail">
                <img src="{% static 'images/earbuds-prod-1.webp' %}" alt="" />
            </div>
            <div class="prod-details">
                 <span class="name">boAt Rockerz 450 DC edition | Wireless Headphone with 40mm Dynamic Driver</span> 
                 <span class="price">&#8377;1200</span>  
            </div>
        </div>
        <div class="product-card">
            <div class="thumbnail">
                <img src="{% static 'images/earbuds-prod-1.webp' %}" alt="" />
            </div>
            <div class="prod-details">
                 <span class="name">boAt Rockerz 450 DC edition | Wireless Headphone with 40mm Dynamic Driver</span> 
                 <span class="price">&#8377;1200</span>  
            </div>
        </div>
        <div class="product-card">
            <div class="thumbnail">
                <img src="{% static 'images/earbuds-prod-1.webp' %}" alt="" />
            </div>
            <div class="prod-details">
                 <span class="name">boAt Rockerz 450 DC edition | Wireless Headphone with 40mm Dynamic Driver</span> 
                 <span class="price">&#8377;1200</span>  
            </div>
        </div>
          

    </div>
</div>

<br><br><br>
{% endblock content %}